<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.adammarker.sloth"
   name="Sloth (LSL editor)"
   version="1.2.0"
   provider-name="Adam Marker"
   class="org.adammarker.sloth.SlothPlugin">

   <runtime>
      <library name="sloth.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.jvyaml"/>
   </requires>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="LSL editor"
            icon="icons/hand.gif"
            extensions="lsl,LSL"
            class="org.adammarker.sloth.LSLeditor"
            id="org.adammarker.sloth.editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sloth (LSL) editor"
            class="org.adammarker.sloth.prefs.BasicPage"
            id="org.adammarker.sloth.prefs.BasicPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.adammarker.sloth.prefs.Defaults">
      </initializer>
   </extension>

</plugin>
